<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <title>General Acess</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <script src="../js/jquery-3.6.4.min.js"></script>
  <script src="../js/api.js"></script>
  <link rel="stylesheet" href="../css/default.css" />
  <link rel="stylesheet" href="../css/acess.css" />''
  <script src="../js/acess.js"></script>
</head>
<body>
    <div class="page">
    <header>
      <div id="title">
        <img src="../images/barco1.png" alt="ícone de barco" />
        <div class="headtitle">
          <h1>Luxo</h1>
          <h2>Aluguel de iates</h2>
        </div>
      </div>

      <nav>
        <ul class="navmenu">
          <li><a href="index.html" class="accent">Página inicial</a></li>
          <li><a href="aluguel.html">Aluguel de iates</a></li>
          <li><a href="destinos.html">Destinos</a></li>
          <li><a href="tripulacao.html">Tripulação</a></li>
          <li><a href="contato.html">Contato</a></li>
          <li><a href="acesso.html">Acesso</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="pagtitle">
        <div class="bgtitle"></div>
        <h2>Acesso</h2>
      </div>
      <section id="acess-options" class="acess-options">
        <button id="btn-admin" type="button">Login Administrativo</button>
        <button id="btn-cliente" type="button">Login Cliente</button>
    </section>
    </main>
  </div>
</body>
</html>